html,
body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
}

.bg_white {
    background: #ffffff;
}

.bg_light {
    background: #fdf8fa;
}

.bg_theme {
    background: #a51e1c;
}

.email-w3l-section {
    padding: 3.5em 2.5em;
}

.footer-bottom {
    padding: 2.5em 2.5em;
}

.bg_black {
    background: #323b43;
}

.bg_dark {
    background: #1b1615;
}

/*BUTTON*/
.btn.eamil {
    padding: 5px 15px;
    display: inline-block;
}

table h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1c1918;
    margin: 0;
}

table p {
    font-size: 15px;
    color: #777;
    line-height: 26px
}

.img-responsive {
    width: 100%;
}

a {
    text-decoration: none;
}

/*--w3l--*/
.w3l {
    position: relative;
    z-index: 0;
}

.top-w3l-social {
    text-align: right;
}

a.icon-top {
    display: inline-block;
    margin-right: 10px;
}

.overlay-banner {
    background: rgba(25, 0, 10, 0.31);
    z-index: 9;
    padding: 2em 0;
}

.overlay-w3l {
    background: rgba(10, 9, 9, 0.6392156862745098);
    z-index: 9;
    padding: 4em 3em;
}

.footer-block {
    z-index: 9;
    padding: 3em 2em;
}

.w3l .text h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 0;
}

.banner-bottom-gds {
    padding: 0 2em;
}

.mid-content {
    padding: 4em 2em;
}

.email-sub-text {
    color: #ffffff;
    font-size: 24px;
}

td.sub-gd.img-ab {
    padding-right: 2%;
}

.quick-links-email li {
    list-style: none;
}

label.border-log {
    border: 2px solid #fff;
    border-right: 0;
    padding-left: 4px;
}

/*--/headings--*/

h3.banner-title-email {
    font-size: 22px;
    line-height: 30px;
}

.heading-section-white {
    color: rgba(255, 255, 255, .8);
}

.heading-section-white h2 {
    line-height: 1;
    padding-bottom: 0;
}

.heading-section-white h2 {
    color: #ffffff;
}

.quick-links-email {
    text-align: right;
}

span.log-pink {
    width: 32px;
    height: 32px;
    background: #be366b;
    border: 10px solid #efebec;
    display: inline-block;
}

h3.name {
    padding-top: 10px;
}

h3.name a {
    color: #1c1918;
    text-decoration: none;
    font-size: 14px;
}

.heading-section h4 {
    color: #1c1918;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
}

h6.date-email {
    margin-bottom: 6px;
}

p.banner-para {
    padding: 10px 0px;
    border: 0;
    border-top: 4px solid #fff;
    border-bottom: 5px solid #fff;
    margin: 20px auto;
    width: 66%;
}

/*--//headings--*/
/*--services--*/
.services {
    color: #1c1918;
}

.text-services .meta {
    text-transform: uppercase;
    font-size: 14px;
}

td.events-bottom img {
    border-radius: 6px;
}

td.sub-gd.ab-gd {
    padding: 0;
    padding-right: 20px;
}

span.border-vw3l {
    border-bottom: 4px solid #be366b;
}

.grid-w3l-top {
    margin: 20px 0;
}

/*--services--*/

/*--footer--*/
.footer-emai-61 {
    color: rgba(255, 255, 255, .5);

}
.footer-emai-61 li a {
    color: #828288;
}

a.icon-social {
    display: inline-block;
    margin:0 6px;
}

p.email-receive {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.section-copyright {
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
@media screen and (max-width:736px) {
    .w3l .text h2 {
        font-size: 2em !important;
        margin-bottom: 0;
    }

    .heading-section h3 {
        font-size: 25px;
    }

    .heading-section h4 {
        font-size: 18px;

    }
    .footer .heading {
        font-size: 18px;
    }

    .email-w3l-section {
        padding: 3em 2em;
    }

    td.sub-gd {
        width:100%!important;
        display: block;
    }
    .sub-head-email .name-email {
        margin: 0;
        font-size: 0.9em;
    }

    .email-w3l-section.copy-right-w3l {
        padding: 0.7em 1em;
    }

    td.mid-text {
        text-align: left !important;
    }

    td.counter-gd.sub-gd table {
        width: 49% !important;
        float: left;
        margin: 0 auto;
    }

    table.email-container.email-wrap-bottom,
    .email-wrap-top {
        margin: 0px !important;
    }

    h3.w3l-title {
        margin-bottom: 16px !important;
        font-size: 26px !important;
        line-height: 36px;
    }

    td.mid-text h6 {
        margin-bottom: 16px !important;
        font-size: 26px !important;
        line-height: 36px;
    }
    .grid-w3l-top {
        margin: 12px 0;
    }

    .email-w3l-bann-content.email-w3l-section {
        padding: 1em 0em;
    }

    h4.name-email-black {
        font-size: 20px !important;
        line-height: 30px;
        text-align: left !important;
    }

    td.text-services.gd-sub-inf {
        padding: 0 !important;
        margin-bottom: 42px !important;
    }

    td.sub-gd.gd-sub-info-bottom {
        margin-bottom: 35px;
    }

    table.social-icons-table {
        width: 60% !important;
    }

    td.footer-gd {
        padding-left: 5%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-block {
        padding: 2em 2em;
    }

    h3.banner-title-email {
        font-size: 22px;
        line-height: 35px;
    }

    .header-w3l-top {
        padding: 2em 1em;
    }
    p.para-bottom {
        padding: 0 !important;
    }
    td.logo a {
        font-size: 20px!important;
    }
    table.top-w3l-header{
        padding: 0 1em!important;
    }
    td.events-bottom img {
        border-radius: 6px;
        margin-bottom: 20px!important;
    }
    p.banner-para {
        padding: 10px 0px;
        border: 0;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        margin: 20px auto;
        width: 90%;
    }
    td.join-bottom .ream-more-button,td.join-bottom a.read-more.btn{
        width: 100% !important;
        display:block!important;
    }
    td.sub-gd.copy-gd,.copy-gd-web{
        width: 100% !important;
        text-align:center!important;

    }
    .footer-bottom {
        padding: 2em 1.5em;
    }
    td.sub-gd.mid-content-w3l-bg {
        width: 70%!important;
        margin: 0 auto;
    }
    .mid-content {
        padding: 3em 1.5em;
    }
    table.w3l-mid-over-tab {
            padding: 0!important;
    }
}

@media screen and (max-width:640px) {
    .w3l .text h2 {
        font-size: 2em !important;
        margin-bottom: 0;
    }

    .heading-section h3 {
        font-size: 25px;
    }

    .heading-section h4 {
        font-size: 18px;

    }
    .footer .heading {
        font-size: 18px;
    }

    .email-w3l-section {
        padding: 3em 2em;
    }

    td.sub-gd {
        width:100%!important;
        display: block;
    }
    .sub-head-email .name-email {
        margin: 0;
        font-size: 0.9em;
    }

    .email-w3l-section.copy-right-w3l {
        padding: 0.7em 1em;
    }

    td.mid-text {
        text-align: left !important;
    }

    td.counter-gd.sub-gd table {
        width: 49% !important;
        float: left;
        margin: 0 auto;
    }

    table.email-container.email-wrap-bottom,
    .email-wrap-top {
        margin: 0px !important;
    }

    h3.w3l-title {
        margin-bottom: 16px !important;
        font-size: 26px !important;
        line-height: 36px;
    }

    td.mid-text h6 {
        margin-bottom: 16px !important;
        font-size: 26px !important;
        line-height: 36px;
    }
    .grid-w3l-top {
        margin: 12px 0;
    }

    .email-w3l-bann-content.email-w3l-section {
        padding: 1em 0em;
    }

    h4.name-email-black {
        font-size: 20px !important;
        line-height: 30px;
        text-align: left !important;
    }

    td.text-services.gd-sub-inf {
        padding: 0 !important;
        margin-bottom: 42px !important;
    }

    td.sub-gd.gd-sub-info-bottom {
        margin-bottom: 35px;
    }

    table.social-icons-table {
        width: 60% !important;
    }

    td.footer-gd {
        padding-left: 5%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-block {
        padding: 2em 2em;
    }

    h3.banner-title-email {
        font-size: 22px;
        line-height: 35px;
    }

    .header-w3l-top {
        padding: 2em 1em;
    }
    p.para-bottom {
        padding: 0 !important;
    }
    td.logo a {
        font-size: 20px!important;
    }
    table.top-w3l-header{
        padding: 0 1em!important;
    }
    td.events-bottom img {
        border-radius: 6px;
        margin-bottom: 20px!important;
    }
    p.banner-para {
        padding: 10px 0px;
        border: 0;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        margin: 20px auto;
        width: 90%;
    }
    td.join-bottom .ream-more-button,td.join-bottom a.read-more.btn{
        width: 100% !important;
        display:block!important;
    }
    td.sub-gd.copy-gd,.copy-gd-web{
        width: 100% !important;
        text-align:center!important;

    }
    .footer-bottom {
        padding: 2em 1.5em;
    }
    td.sub-gd.mid-content-w3l-bg {
        width: 70%!important;
        margin: 0 auto;
    }
}

@media screen and (max-width:600px) {
    td.logo {
        width: 100% !important;
        float: left;
        text-align: center !important;
    }
    .top-w3l-social {
        text-align: center;
        width: 100%!important;
    }
}

@media screen and (max-width:580px) {
    table {
        width: 100% !important;
    }

    h2.w3l-text-inf {
        font-size: 38px !important;
        line-height: 48px !important;
    }
    p.banner-para {
        padding: 10px 0px;
        border: 0;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        margin: 20px auto;
        width: 90%;
        letter-spacing: 0!important;
        font-size: 15px!important;
    }
}

@media screen and (max-width:390px) {
    h2.w3l-text-inf {
        font-size: 28px !important;
        line-height: 38px !important;
    }
}